/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/* Colors */
$body-bg: #FFFFFF;
$body-color: rgb(55, 58, 60);
$link-color: rgb(39, 128, 227);
$color-authors: rgb(221, 110, 85);

/* Fonts */
$font-family-sans-serif: "Source Sans Pro", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-root: 17px;

.author_publication {
  color: $color-authors; 
  font-weight: bold;
}

.report_issue {
  display: block;
  color: black;
  font-size: 12px;
  width: fit-content;
  background-color: #f6f6f6;
  border-style: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}

.documentation_website {
  display: block;
  color: black;
  font-size: 12px;
  width: fit-content;
  background-color: #b3d9cf;
  border-style: solid;
  border-color: #1f816a;
  border-radius: 3px;
  border-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}

.hexsticker {
  width: 100%;
}

.parent {
  display: inline;
  height: 200px;
  position: relative;
}

.div1 { 
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin: auto;
  position: absolute;
}

.div2 { 
  display: inline-block;
  padding: 10px;
  position: relative;
  left: 200px;
}

.div3 {
  display: block;
  padding: 3px;
}
